@model My_Portfolio_MVC.Models.Experience
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h4 class="text-center">Güncelleme</h4>

<form method="post" action="Update">
    <input type="hidden" name="ExperienceId" value="@Model.ExperienceId" />
    <div class="my-2">
        <label class="my-4">Firma Adı</label>
       <input type="text" value="@Model.CompanyName" name="CompanyName" class="form-control"/>
    </div>
    <div class="my-2">
        <label class="my-4">Rolu</label>
       <input type="text" value="@Model.Title" name="Title"  class="form-control"/>
    </div>
    <div class="my-2">
        <label class="my-4 form-label">Açıklama</label>
        <input type="text" value="@Model.Description" name="Description" class="form-control" />
    </div>
    <div class="my-2">
        <label class="my-2">Başlama Tarihi </label>
        <input type="date" name="StartDate" class="form-control" value="@Model.StartDate.Value.ToString("d")" />
    </div>
    <div class="my-2" >
        <label class="my-4 form-label">Bitiş Tarihi <span><strong>(Eğer Devam Ediyorsa Boş Bırakın)</strong></span></label>
        
        <input type="date" name="EndDate" class="form-control" value="@Model.EndDate.Value.ToString("d")" />
    </div>

    <button class="btn btn-outline-primary my-4">Güncelle</button>
</form>

