@using My_Portfolio_MVC.Models
@model List<Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
    bool modelState = Model.Count.Equals(0);
}
<div class="py-1">

    <h4 class="text-center my-2">Eğitimlerim </h4>
</div>
 
<div>

    @if(!modelState)
     {

        <div class="container-fluid">

            <table class="table table-striped table-hover">
                <thead class="bg-light">
                    <tr class="text-dark">
                        <th>No</th>
                        <th>Okul Adı</th>
                        <th>Bölüm </th>
                        <th>Açıklama </th>
                        <th>Başlangıç</th>
                        <th>Bitiş</th>
                        <th>Derece</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                     {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.SchoolName</td>
                            <td>@item.Department</td>
                            <td>@item.Description</td>
                            <td>@item.StartDate.ToShortDateString()</td>
                            <td>@(String.IsNullOrEmpty(item.EndDate.ToString())? "Devam Ediyor" : item.EndDate.Value.ToString("d"))</td>
                            <td>@item.Degree</td>
                            <td><a href="/Education/Delete/@item.EducationId" class="btn btn-outline-danger"> Sil</a></td>
                            <td><a href="/Education/Update/@item.EducationId" class="btn btn-outline-success"> Güncelle</a></td>

                        </tr>

                     }
                </tbody>

            </table>
        </div>
     }
    else
    { 
    <div class="alert alert-info d-flex justify-content-center align-items-center my-3" style="height:50px;opacity:0.5">
   
        <p class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i> Hiç bir Eğitim blunmamaktadır</p>
    </div>

    }
    <a href="/Education/Create" class="btn btn-success my-4 text-center">Yeni bir Eğitim Ekle</a>
</div>